@import "../../styles/responsive/breakpoints.scss";

.moonshine {
	z-index: -1;
	position: absolute;
	opacity: 0.5;
	margin: auto;
	margin-top: 5%;
	right: 15%;
	top: 2%;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: none;
	background: hsl(300, 44%, 79%);
	box-shadow: 0 0 60px 20px rgb(207, 166, 232);
	animation: moonshine 3s ease infinite;

	@include screens {
		top: 15%;
	}

	@include screenm {
		top: 15%;
	}

	@include screenl {
		top: 15%;
	}

	@keyframes moonshine {
		0% {
			scale: 1;
			box-shadow: 0 0 60px 20px rgb(207, 166, 232);
		}
		50% {
			scale: 1.1;
			box-shadow: 0 0 40px 20px rgb(194, 146, 224);
		}
		100% {
			scale: 1;
			box-shadow: 0 0 60px 20px rgb(207, 166, 232);
		}
	}
}
