@import "../../styles/responsive/breakpoints.scss";
@import "../../styles/index.scss";

.my-skills {
	margin-top: var(--vertical-spacing-paragraphs);

	.skills-title-block {
		p {
			width: 500px;
		}
	}

	.skill-hero {
		padding: var(--vertical-spacing-blocks);
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-items: center;
		margin-top: var(--vertical-spacing-blocks);
		height: 350px auto;
		border-radius: var(--card-border-radius);
		width: 650px;
		overflow: hidden;
		background: linear-gradient(142deg, hsl(234, 82%, 57%) 0%, #ad5ee2 100%);
		box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
		box-sizing: border-box;

		.skill-hero-text {
			ul {
				list-style-type: none;
				padding: 0;

				li {
					display: flex;
					flex-direction: column;

					@include screenl {
						margin: 0 auto;
						justify-content: center;
						margin-bottom: 1em;
					}

					@include screenxl {
						margin: 0;
						justify-content: center;
						margin-bottom: 1em;
					}
				}
			}
		}

		.skill-hero-img {
		}
	}
}
