@import "../../styles/responsive/breakpoints.scss";

.my-skills {
	display: flex;
	flex-direction: column;
	margin-top: 2em;
	overflow-x: hidden;
	.skills-title {
		display: flex;
		align-items: center;
		margin-top: 5em;
		margin-left: 12em;

		@include screens {
			margin: 5em 0 2em 0;
			justify-content: center;
		}

		@include screenm {
			margin: 5em 0 2em 0;
			justify-content: center;
		}

		@include screenl {
			margin: 5em 0 2em 0;
			justify-content: center;
		}

		.skills-title-block {
			width: 30px;
			height: 30px;
			background-color: rgb(224, 224, 224);
		}

		.skills-title-title {
			font-size: 20px;
			margin-left: 10px;
		}
	}

	p {
		margin-left: 12em;
		width: 25%;

		@include screens {
			width: 100%;
			margin: 0;
			text-align: center;
		}

		@include screenm {
			width: 70%;
			margin: 0 auto;
			text-align: center;
		}

		@include screenl {
			width: 70%;
			margin: 0 auto;
			text-align: center;
		}
	}

	.skill-hero {
		height: 450px auto;
		border-radius: 50px;
		margin: 3em auto;
		padding: 1em;
		width: 80%;
		overflow: hidden;
		background: linear-gradient(142deg, hsl(234, 82%, 57%) 0%, #ad5ee2 100%);

		.skill-hero-text {
			margin-top: 3em;
			margin-bottom: 3em;
			width: 50%;

			@include screenl {
				width: 100%;
			}

			@include screenm {
				width: 100%;
			}

			@include screenxs {
				width: 100%;
			}

			@include screenxxs {
				width: 100%;
			}
			ul {
				list-style-type: none;

				li {
					display: flex;
					flex-direction: column;
					margin: 1em 0;
					font-size: 18px;
				}
			}
		}

		.skill-hero-img {
		}
	}

	.skills-column {
		margin-top: 5em;
		display: grid;
		justify-items: center;
		grid-template-columns: 1fr 1fr 1fr 1fr;

		@include screens {
			grid-template-columns: 1fr 1fr;
		}

		div {
			margin: 25px;
			width: 100px;
			height: 100px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			span {
				margin-top: 15px;
				text-align: center;
			}
		}
	}
}
