@import "../../styles/responsive/breakpoints.scss";

.project-detail-close-modal {
	position: fixed;
	z-index: 3000;
	top: 5%;
	right: 5%;
	cursor: pointer;
	background: none;
	border-radius: 50%;
	font-weight: 500;
	font-size: 25px;
	color: white;
	height: 50px;
	width: 50px;
	border: 2px solid white;
	transition: all 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		color: black;
		background: white;
	}

	@include screens {
		height: 50px;
		width: 50px;
	}
}

h1,
h2 {
	margin: 0;
}

.p-header {
	margin-top: 5em;
	margin-bottom: 15em;
	height: 70vh auto;

	.p-landing {
		display: flex;
		justify-content: space-around;
		align-items: center;

		@include screenxs {
			text-align: justify;
			flex-direction: column-reverse;
		}

		@include screenxl {
			flex-direction: row;
		}

		.p-text {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			width: 40%;

			@include screenxs {
				width: 80%;
				text-align: center;
			}

			@include screenxl {
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				width: 40%;
				align-items: flex-start;
			}
			h1 {
				font-size: 70px;
			}
			p {
				font-size: 20px;
				width: 100%;

				@include screenxs {
					text-align: justify;
				}
			}

			.p-info {
				margin-top: 2em;
				display: flex;
				font-weight: 600;

				div {
					width: 100%;
					margin-right: 5em;

					@include screenxs {
						margin: 0 auto;
						text-align: center;
					}

					@include screenxl {
						width: 100%;
						margin: 0;
						text-align: start;
					}
				}
			}

			.p-buttons {
				display: flex;
				margin-top: 5em;

				@include screenxs {
					justify-content: center;
					flex-direction: column;
					align-items: center;
				}

				@include screenm {
					flex-direction: row;
					align-items: center;
				}

				@include screenxl {
					align-items: flex-start;
					flex-direction: row;
					align-items: center;
				}

				.project-cards-single-button {
					cursor: pointer;
					display: flex;
					justify-content: center;
					align-items: center;
					color: #be3490;
					height: 50px;
					font-weight: 900;
					width: 200px;
					margin-right: 3em;
					background: none;
					border: 3px solid #be3490;
					border-radius: 30px;
					transition: all 0.3s ease-in;
					text-decoration: none;

					@include screenxs {
						margin-right: 0;
						margin-bottom: 1em;
					}

					@include screenm {
						margin-right: 3em;
						margin-bottom: 0em;
					}

					&:hover {
						background: linear-gradient(142deg, #ffe920 0%, #be3490 100%);
						color: white;
					}
				}

				.project-cards-single-button-2 {
					cursor: pointer;
					display: flex;
					justify-content: center;
					align-items: center;
					color: white;
					height: 50px;
					font-weight: 900;
					width: 200px;
					border: 3px solid none;
					background: linear-gradient(142deg, #35218f 0%, #cd2ad3 100%);
					border-radius: 30px;
					transition: all 0.3s ease-in;
					text-decoration: none;

					&:hover {
						background-color: white;
						color: black;
					}
				}
			}
		}

		.p-image {
			@include screenxs {
				width: 100%;
			}

			@include screenm {
				width: unset;
			}
			img {
				@include screenxs {
					width: 100%;
					height: 100%;
				}

				@include screenm {
					width: unset;
					height: unset;
				}

				object-fit: contain;
			}
		}
	}
}

.p-process {
	display: flex;
	margin: 6em 0;
	justify-content: space-around;

	@include screenxs {
		flex-direction: column;
		align-items: center;
	}

	@include screenxl {
		justify-content: space-between;
		flex-direction: row;
	}

	.p-process-img {
		background-color: rgb(0, 0, 0);
		background: black;
		border: none;
		width: 450px;
		height: 500px;
		border-radius: 25px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		width: 50%;

		@include screenxs {
			border-radius: 0px;
			width: 100%;
		}

		@include screenxl {
			border-radius: 25px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;

			width: 50%;
		}

		img {
			object-fit: contain;
			border-radius: inherit;
			height: 100%;
			width: 100%;
		}
	}

	.p-process-text {
		width: 40%;

		@include screenxs {
			margin-top: 2em;
			text-align: center;
			width: 80%;
		}

		@include screenxl {
			width: 40%;
			padding-right: 5em;
		}
		h1 {
			font-size: 60px;
			text-align: start;
		}
		p {
			text-align: start;
			font-size: 20px;
		}
	}
}

.p-challenges {
	display: flex;
	margin: 6em 0;
	justify-content: space-around;
	flex-direction: row-reverse;

	@include screenxs {
		flex-direction: column;
		align-items: center;
	}

	@include screenxl {
		justify-content: space-between;
		flex-direction: row-reverse;
	}

	.p-challenges-img {
		background-color: rgb(0, 0, 0);
		background: rgba(0, 0, 0, 0);
		border: none;
		width: 450px;
		height: 450px;
		border-radius: 25px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		width: 50%;

		@include screenxs {
			border-radius: 0px;
			width: 100%;
		}

		@include screenxl {
			border-radius: 25px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			width: 50%;
		}

		img {
			object-fit: contain;
			border-radius: inherit;
			height: 100%;
			width: 100%;
		}
	}
	.p-challenges-text {
		width: 40%;

		@include screenxs {
			margin-top: 2em;
			text-align: center;
			width: 80%;
		}

		@include screenxl {
			width: 40%;
			padding-left: 5em;
		}
		h1 {
			font-size: 60px;
			text-align: start;
		}
		p {
			text-align: start;
			font-size: 20px;
		}
	}
}

.p-different {
	display: flex;
	margin: 6em 0;
	justify-content: space-around;

	@include screenxs {
		flex-direction: column;
		align-items: center;
	}

	@include screenxl {
		justify-content: space-between;
		flex-direction: row;
	}

	.p-different-img {
		background-color: rgb(0, 0, 0);
		background: rgba(0, 0, 0, 0);
		border: none;
		width: 450px;
		height: 500px;
		border-radius: 25px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		width: 50%;

		@include screenxs {
			border-radius: 0px;
			width: 100%;
		}

		@include screenxl {
			border-radius: 25px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
			width: 50%;
		}

		img {
			object-fit: contain;
			border-radius: inherit;
			height: 100%;
			width: 100%;
		}
	}

	.p-different-text {
		width: 40%;

		@include screenxs {
			margin-top: 2em;
			text-align: center;
			width: 80%;
		}

		@include screenxl {
			width: 40%;
			padding-right: 5em;
		}
		h1 {
			font-size: 60px;
			text-align: start;
		}
		p {
			text-align: start;
			font-size: 20px;
		}
	}
}

.p-takeaway {
	display: flex;
	margin: 6em 0;
	justify-content: space-around;
	flex-direction: row-reverse;

	@include screenxs {
		flex-direction: column;
		align-items: center;
	}

	@include screenxl {
		justify-content: space-between;
		flex-direction: row-reverse;
	}

	.p-takeaway-img {
		background-color: rgb(0, 0, 0);
		background: rgba(0, 0, 0, 0);
		border: none;
		width: 450px;
		height: 450px;
		border-radius: 25px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		width: 50%;

		@include screenxs {
			border-radius: 0px;
			width: 100%;
		}

		@include screenxl {
			border-radius: 25px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			width: 50%;
		}

		img {
			object-fit: contain;
			border-radius: inherit;
			height: 100%;
			width: 100%;
		}
	}
	.p-takeaway-text {
		width: 40%;

		@include screenxs {
			margin-top: 2em;
			text-align: center;
			width: 80%;
		}

		@include screenxl {
			width: 40%;
			padding-left: 5em;
		}
		h1 {
			font-size: 60px;
			text-align: start;
		}
		p {
			text-align: start;
			font-size: 20px;
		}
	}
}

.p-additional {
	display: flex;
	margin: 6em 0;
	justify-content: space-around;
	flex-direction: row-reverse;

	@include screenxs {
		flex-direction: column;
		align-items: center;
	}

	@include screenxl {
		justify-content: space-between;
		flex-direction: row-reverse;
	}

	.p-additional-img {
		background-color: rgb(0, 0, 0);
		background: rgba(0, 0, 0, 0);
		width: 450px;
		height: 450px;
		border-radius: 25px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		width: 50%;

		@include screenxs {
			border-radius: 0px;
			width: 100%;
		}

		@include screenxl {
			border-radius: 25px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
			width: 50%;
		}

		img {
			object-fit: contain;
			border-radius: inherit;
			height: 100%;
			width: 100%;
		}
	}
	.p-additional-text {
		width: 40%;
		@include screenxs {
			margin-top: 2em;
			text-align: center;
			width: 80%;
		}

		@include screenxl {
			width: 40%;
			padding-right: 5em;
		}

		h1 {
			font-size: 60px;
			text-align: start;
		}
		ul {
			text-align: start;
			li {
				margin: 0;
				a {
					font-size: 20px;
					margin: 15px 0;
					display: inline-block;
					&::after {
						content: "";
						display: block;
						width: 0;
						height: 2px;
						background: #fff;
						transition: width 0.3s;
					}

					&:hover::after {
						width: 100%;
						transition: width 0.3s;
					}
				}
			}
		}
	}
}
