@import "../../styles/responsive/breakpoints.scss";

.projects {
	min-width: 100vw;
	display: flex;
	flex-direction: column;
	margin-top: 5em;

	@include screens {
		margin-top: 0em;
		width: 100vw;
	}

	@include screenm {
		margin-top: 0em;
		width: 100vw;
	}

	@include screenl {
		margin-top: 0em;
		width: 100vw;
	}

	.projects-title {
		display: flex;
		justify-content: center;
		text-align: center;
		font-weight: 900;
		font-size: 35px;

		@include screens {
			justify-content: center;
		}

		@include screenm {
			justify-content: center;
		}

		@include screenl {
			justify-content: center;
		}

		.projects-title-block {
			width: 30px;
			height: 30px;
			background-color: rgb(224, 224, 224);
		}
	}

	.projects-paragraph {
		justify-content: center;
		text-align: center;

		@include screens {
			width: 100%;
			text-align: center;
		}

		@include screenm {
			width: 100%;
			text-align: center;
		}

		@include screenl {
			width: 100%;
			text-align: center;
		}
	}

	.all-projects-button {
		margin: 2em auto;
		font-size: 15px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		height: 50px;
		width: 150px;
		border-radius: 30px;
		font-weight: 900;
		background: linear-gradient(142deg, #e99a33 0%, #be3490 100%);
		transition: all 0.3s ease-in;
		text-decoration: none;
		border: none;

		&:hover {
			background-color: white;
			color: black;
		}

		@include screens {
			margin: 0 auto;
			text-align: center;
		}

		@include screenm {
			margin: 0 auto;
			text-align: center;
		}

		@include screenl {
			margin: 0 auto;
			text-align: center;
		}
	}

	.project-cards {
		margin-top: 5em;
		margin: 0 auto;
		display: grid;
		grid-gap: 2em;
		grid-template-columns: 1fr 1fr 1fr;

		@include screens {
			display: flex;
			margin: 0 auto;
			flex-direction: column;
		}

		@include screenm {
			margin: 0 auto;
			grid-template-columns: 1fr 1fr;
			grid-gap: 2em;
		}

		@include screenl {
			margin: 0 auto;
			grid-template-columns: 1fr 1fr;
			grid-gap: 2em;
		}

		@include screenxl {
			margin: 0 auto;

			grid-gap: 2em;
		}
	}
}
