@import "../../styles/responsive/breakpoints.scss";

.project-detail-close-modal {
	position: fixed;
	z-index: 3000;
	top: 5%;
	right: 5%;
	cursor: pointer;
	background: none;
	border-radius: 50%;
	font-weight: 500;
	font-size: 25px;
	color: white;
	height: 50px;
	width: 50px;
	border: 2px solid white;
	transition: all 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		color: black;
		background: white;
	}

	@include screens {
		height: 50px;
		width: 50px;
	}
}
section {
	min-height: auto;
	width: 100vw;
}

h1,
h2 {
	margin: 0;
}

.p-header {
	margin-top: 5em;
	margin-bottom: 15em;
	height: 70vh auto;

	.p-landing {
		display: flex;
		justify-content: space-around;
		align-items: center;

		@include screenl {
			text-align: justify;
			flex-direction: column-reverse;
		}
		.p-text {
			display: flex;

			flex-direction: column;
			justify-content: space-evenly;
			width: 40%;

			@include screenl {
				width: 80%;
				text-align: center;
			}
			h1 {
				font-size: 70px;
			}
			p {
				font-size: 20px;
				width: 100%;

				@include screenl {
					text-align: justify;
				}
			}
			.p-info {
				margin-top: 2em;
				display: flex;

				div {
					width: 100%;
					margin-right: 5em;
					@include screenl {
						margin: 0 auto;
					}
					h2 {
					}
					span {
					}
				}
			}
			.p-buttons {
				display: flex;
				margin-top: 5em;

				@include screenl {
					justify-content: center;
					flex-direction: column;
					align-items: center;
				}
				.project-cards-single-button {
					cursor: pointer;
					display: flex;
					justify-content: center;
					align-items: center;
					color: #be3490;
					height: 50px;
					font-weight: 900;
					width: 200px;
					margin-right: 3em;
					background: none;
					border: 3px solid #be3490;
					border-radius: 30px;
					transition: all 0.3s ease-in;
					text-decoration: none;

					@include screenl {
						margin-right: 0;
						margin-bottom: 1em;
					}
					&:hover {
						background: linear-gradient(142deg, #ffe920 0%, #be3490 100%);
						color: white;
					}
				}

				.project-cards-single-button-2 {
					cursor: pointer;
					display: flex;
					justify-content: center;
					align-items: center;
					color: white;
					height: 50px;
					font-weight: 900;
					width: 200px;
					border: none;
					background: linear-gradient(142deg, #35218f 0%, #cd2ad3 100%);
					border-radius: 30px;
					transition: all 0.3s ease-in;
					text-decoration: none;

					&:hover {
						background-color: white;
						color: black;
					}
				}
			}
		}

		.p-image {
			img {
				object-fit: contain;
			}
		}
	}
}

.p-process {
	display: flex;
	margin: 6em 0;
	justify-content: space-around;

	@include screenl {
		flex-direction: column;
		align-items: center;
	}

	.p-process-img {
		background-color: rgb(0, 0, 0);
		background: url("../../resources/menu/menu-2.webp");
		width: 450px;
		height: 450px;
		border-radius: 25px;
		img {
			object-fit: cover;
			border-radius: 25px;
			height: 100%;
			width: 100%;
		}
	}

	.p-process-text {
		width: 40%;

		@include screenl {
			margin-top: 2em;
			text-align: center;
			width: 80%;
		}
		h1 {
			font-size: 60px;
			text-align: end;
		}
		p {
			text-align: end;
			font-size: 20px;

			@include screenl {
				text-align: justify;
			}
		}
	}
}

.p-challenges {
	display: flex;
	margin: 6em 0;
	justify-content: space-around;
	flex-direction: row-reverse;

	@include screenl {
		flex-direction: column;
		align-items: center;
	}

	.p-challenges-img {
		background-color: rgb(0, 0, 0);
		background: url("../../resources/me.webp");
		width: 450px;
		height: 450px;
		border-radius: 25px;
		img {
			object-fit: cover;
			border-radius: 25px;
			height: 100%;
			width: 100%;
		}
	}
	.p-challenges-text {
		width: 40%;
		@include screenl {
			text-align: center;
			margin-top: 2em;
			width: 80%;
		}
		h1 {
			font-size: 60px;
		}
		p {
			font-size: 20px;

			@include screenl {
				text-align: justify;
			}
		}
	}
}

.p-different {
	display: flex;
	margin: 6em 0;
	justify-content: space-around;
	@include screenl {
		text-align: center;
		flex-direction: column;
		align-items: center;
	}

	.p-different-img {
		background-color: rgb(0, 0, 0);
		background: url("../../resources/menu/menu-1.webp");
		width: 450px;
		height: 450px;
		border-radius: 25px;
		img {
			object-fit: cover;
			border-radius: 25px;
			height: 100%;
			width: 100%;
		}
	}

	.p-different-text {
		width: 40%;

		@include screenl {
			text-align: center;
			margin-top: 2em;
			width: 80%;
		}
		h1 {
			font-size: 60px;
			text-align: end;
		}
		p {
			text-align: end;
			font-size: 20px;

			@include screenl {
				text-align: justify;
			}
		}
	}
}

.p-takeaway {
	display: flex;
	margin: 6em 0;
	justify-content: space-around;
	flex-direction: row-reverse;
	@include screenl {
		text-align: center;
		flex-direction: column;
		align-items: center;
	}

	.p-takeaway-img {
		background-color: rgb(0, 0, 0);
		background: url("../../resources/menu/menu-3.webp");
		width: 450px;
		height: 450px;
		border-radius: 25px;

		img {
			object-position: center;
			object-fit: cover;
			border-radius: 25px;
			height: 100%;
			width: 100%;
		}
	}

	.p-takeaway-text {
		width: 40%;
		@include screenl {
			text-align: center;
			margin-top: 2em;
			width: 80%;
		}
		h1 {
			font-size: 60px;
		}
		p {
			font-size: 20px;

			@include screenl {
				text-align: justify;
			}
		}
	}
}

.p-additional {
	display: flex;
	margin: 6em 0;
	justify-content: space-around;
	flex-direction: row-reverse;

	@include screenl {
		text-align: center;
		flex-direction: column-reverse;
		align-items: center;
	}

	.p-additional-img {
		background-color: rgb(0, 0, 0);
		background: url("../../resources/san-fran.webp");
		width: 450px;
		height: 450px;
		border-radius: 25px;

		img {
			object-position: center;
			object-fit: cover;
			border-radius: 25px;
			height: 100%;
			width: 100%;
		}
	}
	.p-additional-text {
		width: 40%;
		@include screenl {
			text-align: center;
			margin-top: 2em;
			width: 80%;
		}
		h1 {
			font-size: 60px;
			text-align: end;
		}
		ul {
			text-align: end;
			li {
				margin: 0;
				a {
					font-size: 20px;
					margin: 15px 0;
					display: inline-block;
					&::after {
						content: "";
						display: block;
						width: 0;
						height: 2px;
						background: #fff;
						transition: width 0.3s;
					}

					&:hover::after {
						width: 100%;
						transition: width 0.3s;
					}
				}
			}
		}
	}
}
