* {
     margin: 0; 
     padding: 0;
     scroll-behavior: smooth;
    }

body { 
    background-color: #4d3061; 
    background-image: linear-gradient(#785573, #3E2B3E); 
    }

#landingPage { 
    height: 100vh;
    overflow-wrap: break-word;
    overflow: hidden; 
}

#landingText { 
    color: white; 
    position: absolute; 
    left: 40%; 
    top: 50%; 
    transform: translate(-50%, -50%);
}

#viewMore { 
    left: 50%; 
    top: 85%; 
    transform: translate(-50%, -50%); 
}

#projectText { 
    color: white;
    margin-left: 14.5%;
    padding-bottom: 45px; 
}


#colProjects { 
    display: flex; 
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 250px;
}

#singleCard { 
    margin: 10px;  
}

#bioFlex { 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 210px; 
}

#bioChild1 { 
    width: 31vw;
    text-align: justify;
    text-justify: inter-word;
}

#contactMe { 
    color: white; 
}

#contactCol { 
    display: flex; 
    justify-content: center;
    text-align: center;
    margin: auto; 
}

#contactChild { 
    margin: 10%;

}
