html {
	overflow-x: hidden;
	max-width: 100vw;
	width: 100vw;
	min-width: 100vw;
	scroll-behavior: smooth;
}

body {
	scroll-behavior: smooth;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	height: 100%;
	color: #ffffffd8;
	height: 100%;
	max-width: 100vw;
	background: rgb(77, 27, 70);
	background: linear-gradient(
		144deg,
		rgb(35, 13, 32) 0%,
		rgba(45, 27, 68, 1) 27%,
		rgb(17, 17, 17) 58%,
		rgba(63, 80, 82, 1) 120%
	);
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
	font-size: 15px;
	text-decoration: none;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

svg {
	color: white;
	fill: white;
}

section {
	position: relative;
	min-height: 100vh;
	max-width: 100vw;
}

a {
	color: white;

	&:visited {
		color: white;
	}
}

.particles-background {
	width: 100%;
	height: 100%;
	position: fixed;
}

canvas {
	max-width: 100vw;
}

.particles-background {
	max-width: 100vw;
}
