body {
	margin: 0;
	padding: 0;
	height: 100%;
	color: #ffffffd8;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	background-color: rgb(17, 17, 17);
	font-family: "Courier New", Courier, monospace;
}

section {
	min-height: 100vh;
	width: 100vw;
}
