@import "../../styles/responsive/breakpoints.scss";

.public-message {
	position: absolute;
	z-index: 20; 
	background-color: rgb(232, 232, 232);
	padding: 1rem;
	color: black;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
}
