@import "../../styles/responsive/breakpoints.scss";

.landing {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100vh;

	.landing-title {
		display: flex;
		flex-direction: column;

		.landing-title-text {
			display: flex;
			flex-direction: column;

			.landing-title-text-name {
				font-size: 38px;
			}
			.landing-title-text-title {
				font-size: 20px;
			}
			.landing-title-text-mission {
				margin-top: 1rem;
				font-size: 16px;
			}
		}

		.landing-title-cta-buttons {
			margin-top: 1rem;

			.landing-title-cta-contact-me {
				cursor: pointer;
				display: flex;
				justify-content: center;
				align-items: center;
				color: white;
				height: 50px;
				width: 120px;
				background: none;
				border: 1px solid white;
				transition: all 0.3s ease-in;

				&:hover {
					background-color: white;
					color: black;
				}
			}
		}
	}
	.landing-icon {
		.landing-icons-holder {
			.landing-icon-first {
				position: absolute;
				width: 100px;
				height: 100px;
				background: red;
				border: 1px solid white;
			}
			.landing-icon-second {
				position: absolute;
				width: 100px;
				height: 100px;
				background: red;
				border: 1px solid white;
			}
		}
	}
}
