@import "../../styles/responsive/breakpoints.scss";

.project-cards-single-card {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	margin-bottom: 25px;
	height: 550px;
	width: 350px;
	background-color: white;
	box-shadow: 5px 5px 25px 3px black;
	transition: all 0.8s ease;
	border: none;
	position: relative;
	border-radius: 25px;

	&:hover {
		transform: rotateX(15deg) rotateZ(5deg) rotateY(-10deg);
		box-shadow: 20px 15px 30px 5px rgba(78, 59, 77, 0.617);

		@include screens {
			transform: none;
		}
		@include screenm {
			transform: none;
		}
		@include screenl {
			transform: none;
		}
	}

	.project-cards-image {
		height: 200px;
		width: 100%;
		border: none;
		position: relative;
		border-top-left-radius: 25px;
		border-top-right-radius: 25px;
		object-fit: cover;
		cursor: pointer;
		transition: all 0.8s ease-in-out;
	}

	.project-cards-description {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		color: black;
		width: 100%;
		font-size: 18px;

		.project-cards-description-title {
			font-size: 18px;
			margin-top: 2rem;
			font-weight: 900;
			text-align: center;
			width: 100%;
			font-size: 25px;

			@include screens {
				margin-top: 0rem;
				font-size: 20px;
			}
		}

		.project-cards-description-paragraph {
			width: 85%;
			text-align: justify;
		}
	}

	.project-cards-buttons {
		position: absolute;
		bottom: 0%;

		display: flex;
		width: 100%;
		justify-content: space-around;

		margin: 2em auto;
		align-items: center;

		@include screens {
			height: 15%;
		}

		.project-cards-single-button {
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #be3490;
			height: 50px;
			font-weight: 900;
			width: 150px;

			background: none;
			border: 3px solid #be3490;
			border-radius: 30px;
			transition: all 0.3s ease-in;
			text-decoration: none;

			&:hover {
				background: linear-gradient(142deg, #ffe920 0%, #be3490 100%);
				color: white;
				border: none;
			}
		}

		.project-cards-single-button-2 {
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			color: white;
			height: 50px;
			font-weight: 900;
			width: 150px;

			background: linear-gradient(142deg, #35218f 0%, #cd2ad3 100%);
			border-radius: 30px;
			transition: all 0.3s ease-in;
			text-decoration: none;

			&:hover {
				background-color: white;
				color: black;
			}
		}
	}
}
