@import "../../styles/responsive/breakpoints.scss";

.project-cards-single-card {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	height: 535px;
	width: 325px;
	background-color: white;
	box-shadow: 5px 5px 25px 3px black;
	transition: all 0.8s ease;

	&:hover {
		transform: rotateX(20deg) rotateZ(5deg) rotateY(-15deg);

		@include screens {
			transform: none;
		}
		@include screenm {
			transform: none;
		}
		@include screenl {
			transform: none;
		}
	}

	.project-cards-image {
		height: 40%;
		width: 100%;
		object-fit: cover;
	}

	.project-cards-description {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: black;
		height: 40%;
		width: 100%;

		.project-cards-description-title {
			font-size: 18px;
			margin-top: 1rem;

			@include screens {
				margin-top: 1rem;
				font-size: 20px;
			}
		}

		.project-cards-description-paragraph {
			width: 85%;
			text-align: justify;
		}
	}

	.project-cards-tags-row {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		margin-top: 25px;
		margin-bottom: 10px;
		height: 10%;
		width: 100%;

		@include screens {
			height: 10%;
		}

		.project-card-single-tag {
			cursor: default;
			min-width: auto;
			width: 85px;
			height: 30px;
			background-color: rgba(162, 162, 162, 0.764);
			color: black;
			margin: 0 auto;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 500px;
		}
	}

	.project-cards-buttons {
		margin-top: 15px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 10%;

		@include screens {
			height: 15%;
		}

		.project-cards-single-button {
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			color: black;
			height: 35px;
			width: 100px;
			background: none;
			border: 1px solid black;
			transition: all 0.3s ease-in;
			text-decoration: none;

			&:hover {
				background-color: black;
				color: white;
			}
		}
	}
}
