@import "../../styles/responsive/breakpoints.scss";
@import "../../styles/index.scss";

.about {
	min-height: 100vh;
	scroll-snap-align: start;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.about-block {
		width: 100%;
		display: flex;
		justify-content: space-between;

		.about-text {
			.short-bio {
				margin-top: var(--vertical-spacing-blocks);
				display: flex;
				justify-content: start;
				align-items: flex-start;
				flex-direction: column;

				p {
					width: 500px;
				}

				div {
					margin-top: var(--vertical-spacing-blocks);
					display: grid;
					align-items: center;
					grid-template-columns: 1fr 1fr;
					grid-gap: var(--vertical-spacing-blocks);

					.button-lets-chat {
						@include primarySmallButton;
					}

					.button-resume-chat {
						@include secondarySmallButton;
					}
				}
			}
		}

		.about-image {
			img {
				border-radius: 50%;
				object-fit: cover;
				height: 320px;
				width: 320px;
			}
		}
	}
}
