@import "../../styles/responsive/breakpoints.scss";

.filter-all-projects {
	margin-left: 12em;

	@include screens {
		text-align: center;
		margin: 1em auto;
		width: 100vw;
	}

	@include screenm {
		text-align: center;
		margin: 1em auto;
		width: 100vw;
	}

	@include screenl {
		text-align: center;
		margin: 1em auto;
		width: 100vw;
	}

	span {
		text-align: center;
		@include screens {
			text-align: center;
			margin: 1em auto;
			width: 100vw;
		}

		@include screenm {
			text-align: center;
			margin: 1em auto;
			width: 100vw;
		}

		@include screenl {
			text-align: center;
			margin: 1em auto;
			width: 100vw;
		}
	}

	.filter-button-row {
		display: flex;
		flex-wrap: wrap;
		margin-top: 1em;

		@include screens {
			justify-content: center;
			margin: 1em auto;
			width: 100vw;
		}

		@include screenm {
			justify-content: center;
			margin: 1em auto;
			width: 100vw;
		}

		@include screenl {
			justify-content: center;
			margin: 1em auto;
			width: 100vw;
		}

		.single-button-filter {
			cursor: pointer;
			min-width: 100px;
			width: auto;
			margin-top: 1em;
			height: 30px;
			background-color: rgba(162, 162, 162, 0.764);
			color: black;
			margin-right: 2em;
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: "Courier New", Courier, monospace;
			font-size: 17px;
			text-transform: uppercase;
			border: none;
			border-radius: 500px;
			transition: all 0.3s ease-in;

			&:hover {
				opacity: 70%;
			}

			&:disabled {
				cursor: default;
				opacity: 50%;
			}
		}
	}
}
