@import "../../styles/responsive/breakpoints.scss";

.fixed-navigation {
	z-index: 20;
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
	height: 100px auto;
	display: flex;

	@include screens {
		background-color: black;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		left: 50%;
		top: 0%;
		transform: translate(-50%);
	}

	@include screenm {
		background-color: black;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		left: 50%;
		top: 0%;
		transform: translate(-50%);
	}

	@include screenl {
		background-color: black;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		left: 50%;
		top: 0%;
		transform: translate(-50%);
	}

	.icons {
		display: flex;
		flex-direction: column;

		@include screens {
			flex-direction: row;
		}

		@include screenm {
			flex-direction: row;
		}

		@include screenl {
			flex-direction: row;
		}

		.icon {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 15px 10px;
			transition: all 0.3s ease-in;

			&:hover {
				animation: hoverButton 1s ease-in-out;
			}

			@keyframes hoverButton {
				0% {
					// transform: rotateX(10deg);
					transform: rotateY(0deg);
				}
				50% {
					// transform: rotateX(45deg);
					transform: rotateY(180deg);
				}
				100% {
					// transform: rotateX(0deg);
					transform: rotateY(0deg);
				}
			}
		}
	}

	.separator-line {
		width: 2px;
		height: inherit;
		background-color: white;

		@include screens {
			display: none;
		}

		@include screenm {
			display: none;
		}
		
		@include screenl {
			display: none;
		}
	}
}
