.all-projects-button {
	margin-left: 17em;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: "Courier New", Courier, monospace;

	height: 40px;

	width: 120px;
	background: none;
	border: 1px solid white;
	transition: all 0.3s ease-in;
	text-decoration: none;

	&:hover {
		background-color: white;
		color: black;
	}
}
